openapi: 3.0.3
info:
  title: PartyChaos API
  description: >
    Многопользовательская SPA-платформа для вечеринок с 4 играми:
    Truth or Dare, Alias, Codenames, Emotional Intelligence.
    
    
    **Аутентификация:** cookie-based сессии (connect.sid)
    
    **WebSocket:** Socket.IO на порту 3000
    
    
    ## 📚 Полная документация
    
    
    Swagger UI показывает только REST API endpoints (11 из 29).
    
    
    **Для полной документации откройте:**
    
    
    - <a href="INDEX.md" target="_blank">INDEX.md</a> - главная страница документации
    
    - <a href="API-REFERENCE.md" target="_blank">API-REFERENCE.md</a> - все 174 Socket.IO события + 29 REST endpoints
    
    - <a href="API-EXAMPLES.md" target="_blank">API-EXAMPLES.md</a> - примеры на JavaScript/Python/cURL
    
    - <a href="DIAGRAMS.md" target="_blank">DIAGRAMS.md</a> - 20+ архитектурных диаграмм
    
    - <a href="GAMES.md" target="_blank">GAMES.md</a> - описание всех игр
    
    - <a href="SERVER.md" target="_blank">SERVER.md</a> - серверная часть
    
    - <a href="CLIENT.md" target="_blank">CLIENT.md</a> - клиентская часть
    
    - <a href="API-DOCS-LINKS.md" target="_blank">API-DOCS-LINKS.md</a> - список всех документов
  version: 1.3.0
  contact:
    email: deymanmaccenegy@gmail.com
  license:
    name: Proprietary
servers:
  - url: https://partychaos.ru/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Authentication
    description: Регистрация, вход, OAuth
  - name: Profile
    description: Профиль пользователя
  - name: Customization
    description: Кастомизация (рамки, никнейм)
  - name: Stats
    description: Статистика и достижения
  - name: Subscription
    description: VIP/PRO подписки
  - name: Utility
    description: Вспомогательные endpoints

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Регистрация нового пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, nickname]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  minLength: 6
                  example: password123
                nickname:
                  type: string
                  minLength: 2
                  maxLength: 20
                  example: Player1
      responses:
        '200':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email уже занят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /auth/login:
    post:
      tags: [Authentication]
      summary: Вход в систему
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Выход из системы
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Успешный выход
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true

  /auth/me:
    get:
      tags: [Authentication]
      summary: Получить текущего пользователя
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      tags: [Profile]
      summary: Получить профиль
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
    patch:
      tags: [Profile]
      summary: Обновить профиль
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  minLength: 2
                  maxLength: 20
                bio:
                  type: string
                  maxLength: 500
                biography:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'

  /me/avatar:
    post:
      tags: [Profile]
      summary: Загрузить аватар
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [avatar]
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Аватар загружен
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatarUrl:
                    type: string
                    example: /uploads/avatars/user123.jpg

  /frames:
    get:
      tags: [Customization]
      summary: Список рамок аватаров
      responses:
        '200':
          description: Список рамок
          content:
            application/json:
              schema:
                type: object
                properties:
                  frames:
                    type: array
                    items:
                      $ref: '#/components/schemas/Frame'

  /achievements:
    get:
      tags: [Stats]
      summary: Все достижения
      responses:
        '200':
          description: Список достижений
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Achievement'

  /me/stats:
    get:
      tags: [Stats]
      summary: Статистика пользователя
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Статистика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'

  /subscription/status:
    get:
      tags: [Subscription]
      summary: Статус подписки
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Статус подписки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /health:
    get:
      tags: [Utility]
      summary: Health check
      responses:
        '200':
          description: Сервер работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: connect.sid

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: cm123abc
        email:
          type: string
          format: email
        nickname:
          type: string
        avatarUrl:
          type: string
          nullable: true
        tier:
          type: string
          enum: [FREE, VIP, PRO]
        xp:
          type: integer
        level:
          type: integer
        emailVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time

    UserResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'

    Frame:
      type: object
      properties:
        slug:
          type: string
          example: ALIEN
        name:
          type: string
          example: Alien
        requiredTier:
          type: string
          enum: [FREE, VIP, PRO]

    Achievement:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        tier:
          type: string
          enum: [BRONZE, SILVER, GOLD, PLATINUM]

    UserStats:
      type: object
      properties:
        gamesPlayed:
          type: integer
        gamesWon:
          type: integer
        totalPlayTime:
          type: integer
        achievements:
          type: array
          items:
            $ref: '#/components/schemas/Achievement'

    Subscription:
      type: object
      properties:
        tier:
          type: string
          enum: [FREE, VIP, PRO]
        expiresAt:
          type: string
          format: date-time
          nullable: true
        autoRenew:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Требуется аутентификация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
